.video-play{
    position: absolute;



    -webkit-filter: drop-shadow(5px 5px 5px #222 ) grayscale(50%);
    filter: drop-shadow(5px 5px 5px #222) grayscale(50%);
    opacity: .7;
    transition: opacity 1s ease-out;

}
.video-play:hover{
    background-color: #ffffff00;
    opacity: .95;
    cursor: pointer;
}
#contenedor-multimedia{
    display:none;
}
.img-back{
    position: absolute;

     -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);

}



.img-front{
    position: absolute;


}
